body{background-image: url(https://img.freepik.com/foto-gratis/composicion-spa-articulos-cuidado-cuerpo-pared-clara_169016-5923.jpg?w=2000);background-size: cover;}
h2{color: black;font-family: Georgia, 'Times New Roman', Times, serif; ;}
p{font-size: large;}
div{width: 450px;}
.Massagem{text-align: left;}